In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Grocery_product.csv")

In [4]:
date_data = [12, 22, 24, 4, 5, 7, 15, 18, 21, 12]
df["date"] = date_data

In [5]:
df.insert(2, "Number_of_Product", [12, 2, 9, 7, 11, 16, 14, 17, 7, 18], True)

In [11]:
df = df.assign(address=["Delhi", "Bangalore", "Chennai", "Patna", "Mumbai", "Pune", "Panji", "Hydrebad", "Nashik", "Naggpur"])

In [6]:
print(df)

   Sr. no     Name  Number_of_Product  Age Grocery product  Price(Rs)  month
0       1    Misha                 12   20           Matki         40    Jan  \
1       2  Jashmin                  2   23         Tur Dal         99    Feb
2       3     Juhi                  9   21       Chana dal         41    Feb
3       4   Pepper                  7   24     Rajma white         50    Mar
4       5    Anmol                 11   32            Udid         43    Mar
5       6    Saina                 16   26    Vatana black         39    Mar
6       7    Sejal                 14   27        Soyabean         39  April
7       8   Anjali                 17   31           Matki         80    May
8       9     Jack                  7   30       Moong dal         90    MAy
9      10      Sid                 18   25         Tur dal         99   June

   date
0    12
1    22
2    24
3     4
4     5
5     7
6    15
7    18
8    21
9    12