In [1]:
import pandas as pd

In [2]:
name_age_data = pd.read_csv("Sample_dataset1.csv")

name_age_dataframe = pd.DataFrame(name_age_data)

In [3]:
print(name_age_data)

   Sr. no. First Name  Last Name  Age
0        1       Joe    Williams   25
1        2     Oliver      Trump   24
2        3      Sagar      Dubey   25
3        4       Liaa    Edwards   26
4        5      Mansi  Deshpande   22
5        6      Rocky      Lewis   21
6        7      Harry     Harris   23
7        8       Tina     Bailey   28
8        9       Ansh    Shriwas   29
9       10    Michael      Davis   29

In [4]:
print(name_age_dataframe)

   Sr. no. First Name  Last Name  Age
0        1       Joe    Williams   25
1        2     Oliver      Trump   24
2        3      Sagar      Dubey   25
3        4       Liaa    Edwards   26
4        5      Mansi  Deshpande   22
5        6      Rocky      Lewis   21
6        7      Harry     Harris   23
7        8       Tina     Bailey   28
8        9       Ansh    Shriwas   29
9       10    Michael      Davis   29

In [5]:
print(type(name_age_data))

<class 'pandas.core.frame.DataFrame'>

In [7]:
name_age_dataframe.loc[len(name_age_dataframe.index)] = ["11", "Johnson", "Rudyards", "25"]

In [14]:
name_age_dataframe_added_data = {"Sr. no.": 12, "First Name": "William", "Last Name": "Hardey", "Age": 33}
a = pd.DataFrame(name_age_dataframe_added_data)

name_age_dataframe = name_age_dataframe.append(a)

ValueError: If using all scalar values, you must pass an index

In [19]:
print(name_age_dataframe)

   Sr. no. First Name  Last Name Age
0        1       Joe    Williams  25
1        2     Oliver      Trump  24
2        3      Sagar      Dubey  25
3        4       Liaa    Edwards  26
4        5      Mansi  Deshpande  22
5        6      Rocky      Lewis  21
6        7      Harry     Harris  23
7        8       Tina     Bailey  28
8        9       Ansh    Shriwas  29
9       10    Michael      Davis  29
10      11    Johnson   Rudyards  25

In [17]:
dict = {"Sr. no.": ["13"], "First Name": ["Misha"], "Last Name": ["Rajput"], "Age": [25]}

df2 = pd.DataFrame(dict)

df3 = pd.concat([name_age_dataframe, df2], ignore_index=True)

In [20]:
print(df3)

   Sr. no. First Name  Last Name Age
0        1       Joe    Williams  25
1        2     Oliver      Trump  24
2        3      Sagar      Dubey  25
3        4       Liaa    Edwards  26
4        5      Mansi  Deshpande  22
5        6      Rocky      Lewis  21
6        7      Harry     Harris  23
7        8       Tina     Bailey  28
8        9       Ansh    Shriwas  29
9       10    Michael      Davis  29
10      11    Johnson   Rudyards  25
11      13      Misha     Rajput  25